[submodule "src/ros_pygame_radar_2D/--force"]
	path = src/ros_pygame_radar_2D/--force
	url = git@github.com:PouceHeure/pygame_radar_2D.git
[submodule "src/ros_pygame_radar_2D/pygame_radar_2D"]
	path = src/ros_pygame_radar_2D/pygame_radar_2D
	url = git@github.com:PouceHeure/pygame_radar_2D.git
